<div class="container">
    <h1>Restaurants</h1>
    <% @restaurants.each do |restaurant| %>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <h6>Cuisine: <%= restaurant.category %></h4>
        <h6>Address: <%= restaurant.address %></h5>
    <% end %>
    <h5> <%= link_to "Add a new restaurant", new_restaurant_path %></h5>
</div>